*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif; 
    background-color: #6001b4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.quiz-container {
    background-color: #f3f3f3;
    width: 500px;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1{
    margin-bottom: 20px;
}

#progress-container{
    width: 100%;
    background-color: #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    height: 10px;
}

#progress-bar{
    height: 100%;
    width: 0;
    background-color: #4caf50; 
    border-radius: 5px;
}

#question{
    font-size: 18px;
    margin-bottom: 15px;
}

#options-container button{
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    background-color: #e0e0e0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#options-container button:hover{
    background-color: #d4d4d4;
}

#timer{
    margin-top: 10x;
    color: #000; 
}

#nxt-btn, #restart-btn{
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #6001b4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#nxt-btn:hover, #restart-btn:hover{
    background-color: #7403d6;
}

.hidden{
    display: none;
}